.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
}
.box-2 {
  background-color: black;
}
.box-position {
  position: relative;
  left: 50px;
  top: -50px;
}
.next {
  margin-top: 10px;
}
.next-a {
  text-decoration: none;
  color: black;
}
.next-a:hover {
  text-decoration: underline;
}
